<html>
<head>
<title>Image style transfer</title> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />   
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />         
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> /*jquery*/
</script>
<script type="text/javascript" src="{{ url_for('static', filename='function.js') }}"></script>
</head>
<body">
<p><h1 align="center">Image style transfer</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <form method="post" action="/" enctype="multipart/form-data" name="form" onsubmit="return validateForm()">
        <dl>
            <p class="input">
                content-file
                <input id = "content_file" type="file" name="content-file" class="form-control" autocomplete="off" accept="image/*" required>
                <img id ="display-image-content">
            </p>
            <p class="input">
                style-file
                <div id="image-display">
                    
                    <figure>
                        <img src="{{ url_for('static', filename='uploads/style/The_Scream.jpg') }}">
                        <figcaption>Edvard Munch, 1893, The Scream, oil, tempera and pastel on cardboard</figcaption>
                    </figure>
                    <figure>
                        <img src="{{ url_for('static', filename='uploads/style/The_Starry_Night.jpg') }}">
                        <figcaption>Vincent van Gogh, (1853-1890) The Starry Night, 1889, oil on canvas</figcaption>
                    </figure>
                    <figure>
                        <img src="{{ url_for('static', filename='uploads/style/Udnie.jpg') }}">
                        <figcaption>Udnie – (Francis Picabia),oil,Cubism</figcaption>
                    </figure>
                </div>
            </p>
            <div id="sliderBox">
                   <label>Style-degree: </label><p><input type="range" id="sliderStyleDregree" min="0" max="10" value="10" class="sliders" /> <span id="style-degree">1</span></p>
            </div>
            <input type="hidden" name="style_file" value="" required>
            <input type="hidden" name="style_degree" value ="1" required>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </form>
</div>
</body>
</html>