<html>
<head>
<title>Python Flask Upload and display image</title> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />   
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />         
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> /*jquery*/
</script>
<script type="text/javascript" src="{{ url_for('static', filename='function.js') }}"></script>
</head>
<body">
<p><h1 align="center">Python Flask Upload and style iamge</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <form method="post" action="/" enctype="multipart/form-data" name="form" onsubmit="return validateForm()">
        <dl>
            <p class="input">
                content-file
                <input id = "content_file" type="file" name="content-file" class="form-control" autocomplete="off" accept="image/jpg" required>
                <div id ="display-image-content"></div>
            </p>
            <p class="input">
                style-file
                <div id="image-display">
                    
                    <div>
                        <img src="{{ url_for('static', filename='uploads/style/p1.jpg') }}">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='uploads/style/p2.jpg') }}">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='uploads/style/s02.jpg') }}">
                    </div>
                </div>
            </p>
            <input type="hidden" name="style_file" value="" required>
            
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </form>
</div>
</body>
</html>