<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />   
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> /*jquery*/
</script>
</head>
<body>
<p><h1 align="center">Python Flask Upload and style image</h1></p>
<div class="container">
<div class="row">
    <h2>displayed image below</h2>
        <div>
            <h1>content-image</h1>
            <a href="{{content}}" download>
                <img src="{{content}}" style="width:400px;height:225px;">
            </a>
        </div>
        <div>
            <h1>style-image</h1>
            <a href="{{style}}" download>
                <img src="{{ style}}" style="width:400px;height:225px;">
            </a>
        </div>
        <div>
            <h1>output-image</h1>
            <a href="{{output}}" download>
                <img src="{{ output}}" style="width:400px;height:225px;">
            </a>
        </div>
</div>
</div>
</body>
</html>